@use 'mixins' as *;

.card-item {
  padding: 3.2rem 3.2rem 0rem 3.2rem;
  border-radius: 0.4rem;
  border: 1px solid var(--accent-03);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 0;
  &:nth-child(1) {
    .number {
      background-color: var(--accent-03);
    }
  }
  &:nth-child(2) {
    .number {
      background-color: var(--accent-05);
    }
  }
  &:nth-child(3) {
    .number {
      background-color: var(--accent-06);
    }
  }
  h4 {
    margin-bottom: 1.6rem;
    font-weight: 800;
    line-height: 140%;
    color: var(--black);
    height: 5.2rem;
  }
  p {
    margin-bottom: 3.2rem;
    color: var(--gray-700);
    font-weight: 400;
    line-height: 140%;
  }
  .number {
    @include flex-total-center;
    width: 100%;
    border-radius: 0.4rem 0.4rem 0rem 0rem;
    height: 9rem;
    span {
      font-size: 4.8rem;
      font-weight: 800;
      line-height: 120%;
      color: var(--white);
    }
  }
  @include responsive('tablet', max) {
    padding: 2.4rem 1.6rem 0rem 1.6rem;
    .number {
      span {
        font-size: 4rem;
      }
    }
  }
  @include responsive('mobile', max) {
    h4 {
      height: auto;
    }
    h4,
    p {
      text-wrap: balance;
    }
  }
}

.card-post {
  position: relative;
  overflow: hidden;
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 96.53%);
    z-index: 0;
  }

  &:hover {
    .banner img {
      transform: scale(1.05);
    }
  }

  .banner {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.3s ease;
    }
  }

  .content {
    position: relative;
    z-index: 5;

    h3 {
      font-weight: 700;
      color: var(--white);
      line-height: 120%;
      text-wrap: balance;
      @include truncate(2);
    }
  }
}

.card-post:nth-child(1) {
  padding: 5.6rem 4rem 4.8rem 4rem;
  .content h3 {
    margin-top: 1.6rem;
    font-size: 3.2rem;
    height: 7.6rem;
  }
  @include responsive('tablet', max) {
    padding: 3.2rem 2.4rem;
    .content {
      h3 {
        font-size: 2.4rem;
        height: 5.8rem;
      }
    }
  }
  @include responsive('mobile', max) {
    .content {
      h3 {
        font-size: 2rem;
      }
    }
  }
}

.card-post:nth-child(2),
.card-post:nth-child(3) {
  padding: 3.2rem;
  &::after {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 5.43%, rgba(0, 0, 0, 0.8) 97.87%);
  }
  .content h3 {
    margin-top: 1.2rem;
    font-size: 2.4rem;
    height: 6.8rem;
    line-height: 140%;
  }
  @include responsive('desktop-small', max) {
    .content {
      h3 {
        font-size: 2rem;
        height: 5.6rem;
        line-height: 130%;
      }
    }
  }
  @include responsive('tablet', max) {
    padding: 2.4rem 1.6rem;
    .content {
      h3 {
        font-size: 1.8rem;
      }
    }
  }
}

.modal {
  &.show {
    .modal-overlay {
      opacity: 1;
      visibility: visible;
      display: flex;
      .content {
        animation: slideUp 0.3s ease forwards;
      }
    }
  }
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    z-index: 2059;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    align-items: center;
    justify-content: center;
    .content {
      position: relative;
      padding: 4rem;
      width: 100%;
      max-width: 48.4rem;
      background-color: var(--gray-100);
      border-radius: 0.4rem;
      transition: all 0.3s ease;
      &.video {
        padding: 0;
        background-color: transparent;
        max-width: 91.6rem;
        .infos {
          iframe,
          video {
            border-radius: 4px;
            width: 100%;
            height: 100%;
            aspect-ratio: 16/9;
          }
        }
        .close {
          top: -4rem;
          right: 0;
          background-color: var(--white);
          border: none;
          svg path {
            fill: var(--accent-01);
          }
        }
      }
      .close {
        position: absolute;
        @include flex-total-center;
        width: 3.6rem;
        height: 3.6rem;
        top: 1.6rem;
        right: 1.6rem;
        border-radius: 0.4rem;
        border: 1px solid var(--accent-01);
        transition: all 0.3s ease;
        &:hover {
          background-color: var(--accent-01);
          svg {
            path {
              fill: var(--white);
            }
          }
        }
        svg path {
          transition: fill 0.3s ease;
        }
      }
      .infos {
        padding-top: 1.6rem;
        text-align: center;
        h4 {
          margin-bottom: 1.6rem;
          font-size: 2.2rem;
          color: var(--gray-900);
          line-height: 130%;
          font-weight: 700;
        }
        span {
          display: block;
          font-size: 1.8rem;
          color: var(--gray-600);
          margin-bottom: 3.2rem;
        }
        .separator {
          margin: 0.8rem 0;
          font-size: 1.4rem;
          line-height: 2.4rem;
          color: var(--gray-600);
        }
        .btn {
          width: 100%;
          justify-content: center;
          &:hover {
            svg {
              path {
                fill: var(--white);
              }
            }
          }
          svg {
            path {
              fill: var(--accent-01);
            }
          }
        }
      }
    }
  }
}

.wpforms-container {
  margin: 0 !important;
  .wpforms-field-container {
    #wpforms-29-field_1-container {
      padding-top: 0;
      padding-bottom: 1.6rem;
    }
    .wpforms-field {
      padding-block: 6px !important;
      input,
      textarea {
        padding: 1.6rem 2.4rem;
        height: initial;
        border-radius: 0.4rem;
        border-color: var(--gray-400);
        background-color: var(--white);
        color: var(--gray-800);
        font-size: 1.6rem;
        transition: all 0.3s ease;
        &::placeholder {
          color: var(--gray-900);
          opacity: 0.5;
        }

        &:focus {
          outline: none !important;
          border-color: var(--accent-01) !important;
          box-shadow: 0 0 0 1px var(--accent-01), 0px 1px 2px rgba(0, 0, 0, 0.15) !important;
        }
      }
    }
  }
  .wpforms-submit-container {
    .wpforms-submit {
      width: 100%;
      padding: 1.6rem 3.2rem;
      height: initial;
      font-size: 1.6rem;
      line-height: 150%;
      font-weight: 700;
      color: var(--white);
      background-color: var(--accent-01) !important;
      transition: all 0.3s ease !important;
      &:hover {
        background-color: var(--accent-05) !important;
      }
    }
  }
}

.wpforms-confirmation-container-full {
  margin-bottom: 0 !important;
  border-radius: 0.4rem !important;
  p {
    font-size: 1.8rem !important;
    text-wrap: balance;
    a {
      text-decoration: underline !important;
    }
  }
}
