@use 'mixins' as *;

.s-404 {
  padding-block: 12rem;
  border-bottom: 1px solid var(--gray-200);
  .container {
    @include flex-center-justify;
    flex-direction: column;
    text-align: center;
    h1 {
      width: 76.5rem;
      text-wrap: balance;
      margin-bottom: 4rem;
      font-size: 9rem;
      line-height: 100%;
      color: var(--gray-900);
    }
    p {
      width: 45.6rem;
      font-size: 1.8rem;
      margin-bottom: 5.6rem;
      color: var(--gray-500);
    }
  }
  @include responsive('tablet', max) {
    padding-block: 6.4rem;
    .container {
      h1 {
        font-size: 4rem;
        margin-bottom: 2.4rem;
        width: auto;
      }
      p {
        width: auto;
        text-wrap: balance;
        margin-bottom: 3.2rem;
      }

      .btn {
        width: 100%;
      }
    }
  }
  @include responsive('mobile', max) {
    padding-block: 8rem;
  }
}

.error404 {
  .s-blog {
    margin-bottom: 10rem;
  }
}
