@use 'mixins' as *;

footer {
  .top-area {
    border-block: 1px solid var(--gray-200);
    padding: 10rem 0;
    .container {
      @include flex-center-justify;
      gap: 4rem;
      .logo {
        flex: 1;
        max-width: 38rem;
      }

      .footer-links {
        flex: 1;
        max-width: 61.9rem;
        @include flex-start-justify;
        gap: 3.2rem;
        .footer-column {
          &:nth-child(3) {
            ul {
              li {
                & > a {
                  display: flex;
                  align-items: center;
                  gap: 0.8rem;
                }
              }
            }
          }
          h6 {
            font-size: 1.2rem;
            font-weight: 800;
            color: var(--accent-02);
            margin-bottom: 1.6rem;
            letter-spacing: -0.0001rem;
            line-height: 2.6rem;
          }
          ul {
            li {
              &:not(:last-child) {
                margin-bottom: 1.6rem;
              }
              a {
                font-size: 1.4rem;
                color: var(--gray-800);
                transition: all 0.3s ease;
                font-weight: 500;
                &:hover {
                  color: var(--accent-01);
                }
                img {
                  width: auto;
                }
              }
            }
          }
        }
      }
    }
  }
  .area-copy {
    padding: 3.6rem 0;
    .container {
      @include flex-center-justify;
      p {
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 128%;
        color: var(--gray-400);
      }
      .social {
        .social-links {
          @include flex-start-justify;
          gap: 2rem;
          li {
            a {
              position: relative;
              &:hover {
                &::after {
                  opacity: 0.2;
                  transform: translate(-50%, -50%) scale(1);
                }
              }
              &::after {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                width: 4rem;
                height: 4rem;
                background-color: var(--accent-02);
                opacity: 0;
                transform: translate(-50%, -50%) scale(0);
                border-radius: 50%;
                transition: all 0.3s ease;
              }
              svg {
                width: 2.2rem;
                height: 2.2rem;
              }
            }
          }
        }
      }
    }
  }
  img {
    width: 100%;
  }
  @include responsive('laptop-small', max) {
    .top-area {
      .container {
        .logo {
          max-width: 27rem;
        }
      }
    }
  }
  @include responsive('tablet', max) {
    .top-area {
      padding: 8rem 0 5.6rem;
      .container {
        flex-direction: column;
        gap: 5.6rem;
        .logo {
          max-width: 32rem;
        }
        .footer-links {
          flex: initial;
          width: 100%;
          max-width: 100%;
        }
      }
    }
    .area-copy {
      .container {
        p {
          font-size: 1.2rem;
        }
        .social {
          .social-links {
            gap: 1.6rem;
          }
        }
      }
    }
  }
  @include responsive('mobile', max) {
    .top-area {
      padding: 8rem 0 7.2rem;
      .container {
        align-items: flex-start;
        .logo {
          max-width: 25.3rem;
        }
        .footer-links {
          flex: initial;
          width: 100%;
          max-width: 100%;
          flex-direction: column;
          gap: 4rem;
          .footer-column {
            h6 {
              font-size: 1.4rem;
            }
            ul {
              li {
                a {
                  font-size: 1.6rem;
                }
              }
            }
          }
        }
      }
    }
    .area-copy {
      padding: 5.6rem 0;
      .container {
        flex-direction: column;
        text-align: center;
        gap: 3.2rem;
        p {
          font-size: 1.6rem;
        }
        .social {
          .social-links {
            justify-content: center;
            gap: 3.2rem;
            flex-wrap: wrap;
            li {
              a {
                &::after {
                  width: 5rem;
                  height: 5rem;
                }
                svg {
                  width: 3.2rem;
                  height: 3.2rem;
                }
              }
            }
          }
        }
      }
    }
  }
}
