@use 'mixins' as *;

header {
  padding: 2.4rem 0;
  position: sticky;
  top: 0;
  background-color: var(--white);
  transition: all 0.3s ease;
  z-index: 2059;
  &.fixed {
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(10px);
    padding: 1.8rem 0;
    .container {
      #js-menu {
        top: 8rem;
        height: calc(100vh - 8rem);
      }
    }
  }
  .container {
    @include flex-center-justify;
    gap: 4rem;
    .logo {
      flex: 1;
      max-width: 14.2rem;
    }
    .links {
      @include flex-center;
      gap: 3.2rem;
      .js-btn-modal button,
      li .menu-link,
      li a,
      .has-submenu .menu-top-level {
        font-size: 1.4rem;
        font-weight: 500;
        color: var(--black);
        transition: all 0.3s ease;
        line-height: 100%;
        &:hover {
          color: var(--accent-01);
        }
      }
      .has-submenu {
        position: relative;
        &.active {
          .menu-top-level {
            svg {
              transform: rotate(180deg);
            }
          }
          .submenu {
            opacity: 1;
            visibility: visible;
            pointer-events: all;
            transform: translateY(0);
          }
        }
        .menu-top-level {
          @include flex-center;
          gap: 0.4rem;
          cursor: pointer;
          svg {
            transition: all 0.3s ease;
          }
        }
        .submenu {
          width: 18.3rem;
          background-color: var(--white);
          border-radius: 0.4rem;
          padding: 2.4rem;
          display: flex;
          flex-direction: column;
          gap: 2rem;
          position: absolute;
          top: 4.5rem;
          opacity: 0;
          visibility: hidden;
          pointer-events: none;
          transition: all 0.3s ease;
          transform: translateY(2rem);
          box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.1);
        }
      }
    }
    .navigation {
      @include flex-center-justify;
      gap: 4rem;
      .btn-menu {
        display: none !important;
        width: 4.5rem;
        height: 4.5rem;
        position: relative;
        &:hover {
          .btn-mobile-inner {
            color: var(--white);
          }
        }
        &.is-active {
          .btn-mobile-inner {
            border-top-color: transparent;
            &::after,
            &::before {
              margin-top: 0;
            }

            &::after {
              top: -0.2rem;
              transform: rotate(45deg);
            }
            &::before {
              top: 0rem;
              transform: rotate(135deg);
            }
          }
        }
        .btn-mobile-inner {
          width: 50%;
          display: block;
          height: auto;
          border-top: 2px solid;
          color: var(--accent-01);
          &::after,
          &::before {
            width: 100%;
            content: '';
            display: block;
            height: 0.2rem;
            margin-top: 0.6rem;
            background-color: currentColor;
            transition: transform 0.2s ease;
            position: relative;
          }
        }
      }
    }
  }
  @include responsive('desktop-small', max) {
    .container {
      .navigation {
        max-width: 74rem;
      }
    }
  }
  @include responsive(tablet) {
    .container {
      .logo {
        flex: initial;
        width: 100%;
        max-width: 14.2rem;
      }
      .links {
        display: none;
      }
      .navigation {
        flex: initial;
        width: 100%;
        max-width: 18.1rem;
        gap: 1.6rem;
        justify-content: flex-end;
        .btn-menu {
          display: flex !important;
          padding: 0;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
  @include responsive(mobile) {
    padding: 1.6rem 0;
    .container {
      .navigation {
        .btn {
          width: 4.5rem;
          height: 4.5rem;
          padding: 0;
          @include flex-total-center;
          span {
            display: none;
          }
        }
      }
    }
  }
}

#js-menu {
  position: absolute;
  top: var(--header-height);
  left: 0;
  height: calc(100vh - var(--header-height));
  background-color: var(--white);
  transform: translateY(100%);
  opacity: 0;
  transition: all 0.3s ease;
  padding: 7rem 1.5rem;
  width: 100%;
  pointer-events: none;
  border-top: 1px solid var(--gray-200);
  .links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .menu-item {
      width: 100%;
      &:not(:last-child) {
        border-bottom: 1px solid var(--gray-200);
        margin-bottom: 2.4rem;
        padding-bottom: 2.4rem;
      }
      a,
      button,
      span {
        font-size: 2.4rem;
        line-height: 120%;
        color: var(--gray-800);
      }
      &.has-submenu {
        &.active {
          .menu-top-level {
            padding-bottom: 2.4rem;
            svg {
              transform: rotate(180deg);
            }
          }
          .submenu {
            display: flex;
            flex-direction: column;
            padding-top: 2.4rem;
            border-top: 1px solid var(--gray-200);
            animation: moveIn 0.3s ease forwards;
            transition-delay: 0.2s;
            padding-inline: 0;
            width: 100%;
            box-shadow: none;
            .submenu-item {
              &:not(:last-child) {
                margin-bottom: 2.4rem;
                border-bottom: 1px solid var(--gray-200);
                padding-bottom: 2.4rem;
              }
            }
          }
        }
        .menu-top-level {
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: space-between;
          svg {
            @include transition;
          }
        }
        .submenu {
          display: none;
        }
      }
    }
  }
  @include responsive('mobile', max) {
    top: 7.7rem;
    height: calc(100vh - 7.7rem);
    .links {
      .menu-item {
        a,
        button,
        span {
          font-size: 2rem;
        }
      }
    }
  }
}

.menu-opened {
  header {
    #js-menu {
      transform: translateY(0);
      opacity: 1;
      pointer-events: all;
    }
  }
}
