@use 'sass:map';

@mixin flex-start {
  display: flex;
  align-items: flex-start;
}

@mixin flex-center {
  display: flex;
  align-items: center;
}

@mixin flex-total-center {
  @include flex-center;
  justify-content: center;
}

@mixin flex-center-justify {
  @include flex-center;
  justify-content: space-between;
}

@mixin flex-start-justify {
  @include flex-start;
  justify-content: space-between;
}

$breakpoints: (
  'laptop': 1200px,
  'lap-xs': 1050px,
  'tablet': 991px,
  'mobile': 560px,
);

@mixin responsive($breakpoints-name) {
  @if map.has-key($breakpoints, $breakpoints-name) {
    @media (max-width: map.get($breakpoints, $breakpoints-name)) {
      @content;
    }
  } @else {
    @warn "Breakpoint que você definiu não existe";
  }
}

@mixin truncate($lines) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;
}
