@use 'mixins' as *;

.s-header-politica {
  padding-block: 6.4rem;
  border-bottom: 1px solid var(--gray-200);
  .container {
    h1 {
      font-size: 6.4rem;
      line-height: 100%;
    }
  }

  @include responsive('tablet', max) {
    .container {
      h1 {
        font-size: 4rem;
      }
    }
  }
}
